.Contador input {
    font-size: 1.4rem;
    width: 60px;
}

.Contador button {
    margin: 15px;
    height: 50px;    
    width: 50px;    
    background-color: #4040af;
    border-radius: 50%;
    color: #fff;
    font-size: 1.4rem;
}
